:root {
    --font-size: 1 rem;
    --link-color: #82c8f1;
    --link--over-color: #9bd3f4;
    --border-color: dimgrey;
    --secondary-color: #2b303b;

    --background-color-dark: #212121;
    --text-color-dark: #ddd;

    --over-color-dark: #2b303b;

    --menu-width: 17rem;
    --header-height: 3rem;
    --header-font-size: 1.25 rem;
    --header-font-color: #eee;
    --header-over-color: #fff;
    --header-font-weight: 300;
    --header-background-image: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



body {
    background: var(--background-color-dark);
    color: var(--text-color-dark);
    margin: 0;
    padding: 0;
    font-family: var(--font-sans-serif);
    font-size: var(--font-size);
}

a,
a:visited {
    color: var(--link-color);
    text-decoration: none;
}

pre {
    border: 1px solid var(--border-color);
    overflow: auto;
    padding: 0.5rem;
    border-radius: 5px;
}

.header {
    background-image: var(--header-background-image);
    position: fixed;
    top: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: var(--header-height);
    margin: 0;
    padding: 0;
    color: var(--header-font-color);
}

.header {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        float: left;
    }

    .discret {
        color: var(--header-over-color);
        font-size: larger;
    }

    a {
        padding: 0 1rem;
        height: var(--header-height);
        color: var(--text-color);
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        color: var(--header-over-color);
    }

    .header_right {
        float: right;
    }

    .learn_menu {
        background: var(--background-color-dark);
        margin-top: var(--header-height);
        display: none;
        position: absolute;

        z-index: 2;
        overflow: auto;
        overflow-x: hidden;
        width: fit-content;


        border: 1px solid var(--border-color);
        border-top: 0;
        border-radius: 0 0 5px 5px;
        //  width: var(--menu-width);
    }

    .learn_menu {
        a {
            color: var(--link-color);
            font-size: 1rem;
            text-decoration: none;
            width: 100%;
            height: 2rem;
            padding-left: 1rem;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            display: table;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 0.25rem;
            border: 0px;
        }

        ul>ul>li>a {
            padding-left: 2rem;
        }

        li:hover {
            color: var(--link-over-color);
        }
    }
}

.learn {
    float: left;
    overflow: hidden;
}

/* Show the dropdown menu on hover */
.learn:hover .learn_menu {
    display: block;
}


html {
    scroll-padding-top: var(--header-height);
}

.content {
    margin-left: var(--menu-width);
    margin-top: var(--header-height);
    padding-left: 1rem;
    max-width: 50rem;
}


.content h1:first-of-type {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}



.data {

    h1:first-of-type {
        text-align: left;
        font-size: 2rem;
        border-bottom: 1px solid var(--border-color);
        padding-top: 1rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
        padding-bottom: 0.25rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--border-color);
    }

    strong,
    time,
    b {
        background-color: var(--secondary-color);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 0px 5px;
        font-weight: bolder;
    }

    ul li,
    ol li {
        margin-bottom: 0.25rem;
    }

    li>ul,
    li>ol {
        margin: 0.25rem 0 0.5rem;
        padding: 0 0 0 2rem;
    }

    li>ul li,
    li>ol li {
        margin-bottom: 0.5rem;
    }
}

.menu {
    position: fixed;
    top: var(--header-height);
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    padding-top: 0.25rem;
    // padding-left: 0.25rem;
    left: 0;
    width: var(--menu-width);
    z-index: 1;
    overflow-x: hidden;

    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.menu {
    a {
        text-decoration: none;
        width: 100%;
        height: 2rem;
        padding-left: 1rem;
        display: table-cell;
        vertical-align: middle;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: table;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 0.25rem;
    }

    ul>ul>li>a {
        padding-left: 2rem;
    }

    li:hover {
        background: var(--over-color);
    }

    .active a {
        font-weight: bolder;
        color: var(--link--over-color);
        border-left: 2px solid var(--link--over-color);
        border-right: 2px solid var(--link--over-color);
    }
}



.toc {
    position: fixed;
    top: var(--header-height);
    left: 69rem;
    margin-top: 0.25rem;
    z-index: 1;
}

.toc {
    a {
        color: var(--link-color);
        text-decoration: none;
        display: block;
        border-radius: 5px;
        padding: 0.1rem 0.5rem;
        margin-bottom: 0.15rem;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-left: 2px solid var(--border-color);
    }

    li:hover a {
        color: var(--link--over-color);

    }
}


@media screen and (max-width: 86rem) {
    .toc {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 60rem) {
    .menu {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .learn_menu {
        width: 100%;
        left: 0;
    }

    body {
        font-size: var(--mobile-font-size);
    }
}