<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Discret Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
    {% endblock css %}


</head>

<body>
    <section class="header">
        <div>
            Discret Documentation
        </div>
    </section>
    <div class="menu">
        {% block menu %}
        <ul>
            {% set index = get_section(path="_index.md") %}
            <li>
                <a href="{{ index.permalink | safe }}">
                    {{ index.title }}
                </a>
            </li>
            {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            <li>
                <a href="{{ subsection.permalink | safe }}">
                    {{ subsection.title }}
                </a>
                <ul>
                    {% for page in subsection.pages %}
                    <li>
                        <a href="{{ page.permalink | safe }}">
                            {{ page.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            </li>
        </ul>
        {% endblock menu %}
    </div>

    <section class="content">
        <div>
            {% block content %} {% endblock %}
        </div>
    </section>
    <section class="footer">
        <div>
            footer
        </div>
    </section>
</body>

</html>
