{% extends "learn.html" %}

{% block content %}
{% if page.toc %}
<div class="toc">
    <strong>On this page</strong>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>
    {{ section.title }}
</h1>
<ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}